@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Poppins";
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/hero_bg.jpg);
  background-position: center;
  background-size: auto 100%;
  box-sizing: border-box;
  height: 50%;
}
.navbar {
  z-index: 100;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100vw;
  padding: 1rem 0rem;
  font-size: 1rem;
  font-family: "Mukta Malar";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
}

.navbar .links {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}

.menu a {
  display: inline-block;
  font-family: "Poppins";
  font-weight: bold;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 0rem 1rem;
}

.hero {
  color: #ffffff;
  text-decoration: none;
  font-family: "Mukta Malar";
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 7rem 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  margin: 1rem;
  height: 20rem;
}

.hero a {
  display: none;
}

.hero h1 {
  font-size: clamp(3rem, 2.2105rem + 3.5088vw, 5.5rem);
  letter-spacing: 0px;
  margin: 0.5rem 1rem;
  line-height: 5.5rem;
}

.hero p {
  font-size: clamp(1.2rem, 0.8842rem + 1.4035vw, 2.2rem);
  font-size: 1.5rem;
  margin: 0rem 1rem;
  letter-spacing: 0px;
}

.content {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.sponsors.content {
  display: flex;
  justify-content: space-around;
  height: auto;
  flex-direction: column;
}

.sponsors_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row.plat_partner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.banner {
  background-color: #d3d3d3;
  color: #1d1d1d;
  text-align: center;
}

.banner h3 {
  margin: 0px;
  padding: 0.5rem;
}

.about {
  display: flex;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
}

.about-text {
  padding: 2rem 3rem 2rem 0rem;
  flex-basis: 50%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 1rem;
  line-height: 3rem;
}
.about-imgs {
  flex-basis: 50%;
  width: 50%;
  margin: auto;
  padding: 2rem 0rem;
}

.about-imgs div {
  display: flex;
  box-sizing: border-box;
}
.about-imgs div img {
  display: inline-block;
  height: 240px;
  width: calc(50% - 0.25rem);
  object-fit: cover;
  margin-bottom: 0.5rem;
}

button {
  width: 12rem;
  height: 3.5rem;
  background-color: #5863f8;
  border: none;
  color: #ffffff;
  border-radius: 0px;
  font-family: "Poppins";
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button img {
  margin-left: 0.5rem;
}

.text-purple {
  color: #5863f8;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 1.1rem;
}

#rules li {
  margin-top: 0.5rem;
}

.guidelines {
  color: #ffffff;
  position: relative;
  padding: 4rem 1rem;
}

.guidelines-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/hero_bg_bw.jpg);
  background-position: center;
  background-size: auto auto;
}

.card-row {
  display: flex;
  justify-content: center;
}

.card-row-sm {
  display: none;
}

.guideline-cards {
  flex: 0 0 17rem;
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 15rem;
  background-color: #ffffff;
  box-sizing: border-box;
  color: black;
  align-items: center;
}

.circle {
  margin: 1rem;
  height: 4rem;
  width: 4rem;
  background-color: #5863f8;
  border-radius: 50%;
  display: block;
  text-align: center;
  padding: 0.5rem;
  box-sizing: border-box;
  font-weight: 600;
  color: #ffffff;
  font-size: 2rem;
}

footer h4 {
  margin-bottom: 0px;
}

.guideline-cards h4 {
  margin: 0px;
}

.guideline-cards p {
  margin: 1rem;
}

.guidelines span {
  margin-top: 2rem;
  position: absolute;
  bottom: 1rem;
}

.entry-block {
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}
.woobox-offer {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.gallery {
  margin: auto;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}
.sponsors,
.sponsors_top {
  margin: auto;
  box-sizing: border-box;
}

.cpb_info {
  margin-right: 1rem;
}

.sponsors .row,
.sponsors_top .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accordion {
  text-decoration: underline;
  background-color: #dfdfdf;
  color: #5863f8;
  cursor: pointer;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  position: absolute;
}

footer {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 2rem 4rem;
  box-sizing: border-box;
}

footer div {
  display: flex;
  flex-direction: row;
}

footer ul {
  list-style-type: none;
}

#rules {
  padding: 2rem 1rem;
}

.question {
  font-weight: bold;
}

.faq div {
  margin-bottom: 0.5rem;
}

.footer-links a,
.contact a {
  color: #5863f8;
  text-decoration: none;
}

.sponsors .row img {
  max-height: 8rem;
  object-fit: contain;
  max-width: 15rem;
  margin: auto;
}

.sponsors_top img {
  height: 5rem;
  object-fit: contain;
  max-width: 12rem;
  margin: auto;
}

.sponsors h2 {
  margin-top: 2rem;
}

.row a {
  display: inline-block;
  margin: 0;
}

.social_links a {
  background-color: #ffffff;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
}

.social_links img {
  height: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .navbar,
  #about {
    padding: 1rem 1rem;
  }
  #about-text {
    padding: 2rem 1rem 0rem 0rem;
  }
  .guideline-cards {
    flex: 0 1 14rem;
    height: 14rem;
  }
  .circle {
    margin: 0.5rem;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .hero img {
    height: 14rem;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2rem;
  }
  .guideline-cards {
    flex: 0 1 12.5rem;
    height: 14rem;
  }

  .guideline-cards p {
    font-size: 0.9rem;
  }

  .hero img {
    height: 13rem;
  }
}

@media only screen and (max-width: 800px) {
  .hero h1 {
    font-size: 2.5rem;
    letter-spacing: 0px;
    line-height: 5rem;
  }

  .hero img {
    height: 12rem;
  }

  body {
    font-size: 1rem;
  }

  .hero p {
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin: 0px;
    letter-spacing: 0px;
  }
  .card-row-sm {
    display: block;
  }

  .card-row {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)),
      url(/assets/coming_soon_bg_sm.jpg);
    background-position: center;
    background-size: auto 100%;
    box-sizing: border-box;
    height: auto;
    text-align: center;
  }

  .menu {
    display: none;
  }

  .hero {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1rem;
  }

  .hero img {
    display: none;
  }

  .hero a {
    display: block;
    margin: 0px auto;
    color: #ffffff;
  }

  .hero svg {
    margin-top: 2rem;
    display: block;
    height: 2rem;
  }

  .hero h1 {
    font-size: 3rem;
    line-height: 2rem;
  }
  .hero {
    padding-bottom: 4rem;
  }
  .content {
    padding: 1rem 1rem;
  }
  .about {
    flex-direction: column;
  }
  .about-text {
    padding: 0rem;
  }
  .about-imgs {
    width: 100%;
  }

  .entry_block h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  footer {
    padding: 2rem;
  }
  footer,
  footer div {
    flex-direction: column;
  }
  footer ul {
    padding: 0rem;
  }
  .sponsors_top {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    font-size: 0.9rem;
  }

  .sponsors .row img,
  .sponsors_top img {
    width: 95%;
  }

  .sponsors_top .row.plat_partner img {
    width: 80%;
  }

  .sponsors .row {
    align-items: center;
  }

  .sponsors h2 {
    font-size: 1.2rem;
    margin-bottom: 0px;
  }

  .sponsors.content {
    flex-direction: column;
  }

  .social_links a {
    height: 2.3rem;
    width: 2.3rem;
    margin: 0rem 1rem;
    margin-bottom: 1rem;
  }

  .social_links img {
    height: 1.3rem;
  }
}
